canvas {
    display: inline;
    margin-top: 25px;
    
}

body {
    text-align: center;
    background-color: #39abb4;
}

label {
    display: block;
}

#go {
    margin-top: 25px;
}

#maingame {
    display: none; /* This is making it invisible */
}

#title {
    /* position: absolute; */
}

.color-swatch {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
  }